In [1]:
import pandas as pd
import numpy as np
import os 

from datetime import datetime, timedelta
from statistics import mode

In [2]:
os.getcwd()

'C:\\Users\\Christila\\Documents\\AnimalBite'

In [3]:
loadData = pd.read_csv('Health_AnimalBites.csv')
loadData.shape

(9003, 15)

In [4]:
loadData

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
0,1985-05-05 00:00:00,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
1,1986-02-12 00:00:00,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
2,1987-05-07 00:00:00,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
3,1988-10-02 00:00:00,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
4,1989-08-29 00:00:00,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,NaN,UNKNOWN,NaN,NaN,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998,2017-09-05 00:00:00,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,NaN,NaN,NaN,NaN,NaN
8999,2017-09-07 00:00:00,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,NaN,NaN,NaN,NaN,NaN
9000,2017-09-07 00:00:00,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,NaN,NaN,NaN,NaN,NaN
9001,2017-09-07 00:00:00,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,NaN,NaN,NaN,NaN,NaN
9002,2017-09-07 00:00:00,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,NaN,NaN,NaN,NaN,NaN

In [5]:
loadData.isnull().sum()

bite_date             317
SpeciesIDDesc         118
BreedIDDesc          5244
GenderIDDesc         2526
color                2577
vaccination_yrs      5265
vaccination_date     4888
victim_zip           1838
AdvIssuedYNDesc      6438
WhereBittenIDDesc     616
quarantine_date      6983
DispositionIDDesc    7468
head_sent_date       8608
release_date         7558
ResultsIDDesc        7460
dtype: int64

In [6]:
# creating a copy from original dataset
preprocessed_data =  loadData.copy()

In [7]:
# convert date columns from string type to datetime type
def convert_to_dateTime(dataframe, columnName):
    dataframe[columnName] = pd.to_datetime(dataframe[columnName])
    
    return dataframe[columnName]
    

# convert date into one format
def convert_date_into_one_format(dataframe, columnName):
    dataframe[columnName] = pd.to_datetime(dataframe[columnName], format='%Y-%m-%d %H:%M:%S')
    
    return dataframe[columnName]

# to get difference between two columns
def get_difference_between_columns(dataframe,newColumnNam, columnName1, columnName2):
    dataframe[newColumnNam] = dataframe[columnName1] - dataframe[columnName2]
    
    return dataframe[newColumnNam]

# to sort data
def sorting_data(dataframe,columnName,bitvalue):
    sortByDifference = dataframe.sort_values(by=columnName, ascending = bitvalue)
    
    return sortByDifference
    

# to correct data using index location
def correct_data_using_index(dataframe,columnName,rowNum,date):
    dataframe.loc[rowNum, columnName] = pd.to_datetime(date)
    
    return dataframe.loc[rowNum, columnName] 

# to get the average of a column
def get_average(dataframe,columnName):
    average = dataframe[columnName].mean()
    
    return average
 
 
 # to check null values
def check_null_values(dataframe,column):
    nullRows = dataframe[dataframe[column].isnull().sum(axis=1) > 1]
    
    return nullRows
    
    
# to fill missing values
def to_fillna_byAdding(dataframe,columnNameToFill,usedColumnToFill,day):
    dataframe[columnNameToFill] = dataframe[columnNameToFill].fillna(dataframe[usedColumnToFill] + pd.Timedelta(days = day))
    
    return dataframe[columnNameToFill]
    
    
def to_fillna_bySubstracting(dataframe,columnNameToFill,usedColumnToFill,day):
    dataframe[columnNameToFill] = dataframe[columnNameToFill].fillna(dataframe[usedColumnToFill] - pd.Timedelta(days = day))
    
    return dataframe[columnNameToFill]

# to fill catedorical data

def fill_category(dataframe,columnName, fillValue):
    dataframe[columnName] = dataframe[columnName].fillna(fillValue)
    
    return dataframe[columnName]

In [8]:
# we need to convert string data into datetime
convert_to_dateTime(preprocessed_data, 'bite_date')

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 5013-07-15 00:00:00, at position 1384. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [9]:
# there is a error message as 'Out of bounds'
# instead of defining exact format for datetime data mixed format will convert string to time data adaptavity. 
pd.to_datetime(preprocessed_data['bite_date'], format='mixed')

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 5013-07-15 00:00:00, at position 1384

In [10]:
#convert bite_date into needed format
preprocessed_data['bite_date'] = preprocessed_data['bite_date'].str.replace('5013-07-15 00:00:00','2013-07-15 00:00:00')

In [11]:
convert_to_dateTime(preprocessed_data, 'bite_date')

0      1985-05-05
1      1986-02-12
2      1987-05-07
3      1988-10-02
4      1989-08-29
          ...
8998   2017-09-05
8999   2017-09-07
9000   2017-09-07
9001   2017-09-07
9002   2017-09-07
Name: bite_date, Length: 9003, dtype: datetime64[ns]

In [12]:
# convert quarantine_date column from string type to datetime type
convert_to_dateTime(preprocessed_data, 'quarantine_date')

0      1985-05-05
1      1986-02-12
2      1990-05-07
3      1990-10-02
4             NaT
          ...
8998          NaT
8999          NaT
9000          NaT
9001          NaT
9002          NaT
Name: quarantine_date, Length: 9003, dtype: datetime64[ns]

In [13]:
# convert 'quarantine_date' column into one format
convert_date_into_one_format(preprocessed_data,'quarantine_date')

0      1985-05-05
1      1986-02-12
2      1990-05-07
3      1990-10-02
4             NaT
          ...
8998          NaT
8999          NaT
9000          NaT
9001          NaT
9002          NaT
Name: quarantine_date, Length: 9003, dtype: datetime64[ns]

In [14]:
print(preprocessed_data['bite_date'].dtypes, preprocessed_data['quarantine_date'].dtypes)

datetime64[ns] datetime64[ns]

## First edit 'bite_date' and 'quarantine_date' column using difference between those two columns

In [15]:
# Get difference between quarantine_date column and bite_date column

get_difference_between_columns(preprocessed_data,'DifferenceOfBitedateAndQuarantinedate','quarantine_date','bite_date')
preprocessed_data

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate
0,1985-05-05,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05,UNKNOWN,NaN,NaN,UNKNOWN,0 days
1,1986-02-12,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12,UNKNOWN,NaN,NaN,UNKNOWN,0 days
2,1987-05-07,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07,UNKNOWN,NaN,NaN,UNKNOWN,1096 days
3,1988-10-02,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02,UNKNOWN,NaN,NaN,UNKNOWN,730 days
4,1989-08-29,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,NaT,UNKNOWN,NaN,NaN,UNKNOWN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,NaT,NaN,NaN,NaN,NaN,NaT
8999,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,NaT,NaN,NaN,NaN,NaN,NaT
9000,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,NaT,NaN,NaN,NaN,NaN,NaT
9001,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,NaT,NaN,NaN,NaN,NaN,NaT
9002,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,NaT,NaN,NaN,NaN,NaN,NaT

In [16]:
# select rows that are difference of the days greater than 0 days(not nulls)
daysGreaterThan0 = preprocessed_data[preprocessed_data['DifferenceOfBitedateAndQuarantinedate']>timedelta(days=1)]

In [17]:
sorting_data(daysGreaterThan0,'DifferenceOfBitedateAndQuarantinedate',False)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate
2,1987-05-07,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07,UNKNOWN,NaN,NaN,UNKNOWN,1096 days
3,1988-10-02,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02,UNKNOWN,NaN,NaN,UNKNOWN,730 days
103,2010-01-27,DOG,NaN,FEMALE,BRN-BLACK,1.0,2010-07-30 00:00:00,40229,NO,BODY,2011-01-28,UNKNOWN,NaN,NaN,UNKNOWN,366 days
2093,2011-04-14,DOG,LABRADOR RETRIV,MALE,BLONDE,3.0,2009-06-02 00:00:00,40228,NO,BODY,2011-07-15,NaN,NaN,NaN,NaN,92 days
1984,2011-04-15,DOG,MALTASE,MALE,WHITE,3.0,2011-06-29 00:00:00,40245,NO,BODY,2011-06-16,NaN,NaN,NaN,NaN,62 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,2010-11-20,CAT,NaN,UNKNOWN,NaN,NaN,NaN,40213,NO,BODY,2010-11-22,RELEASED,NaN,NaN,UNKNOWN,2 days
1057,2010-11-13,DOG,NaN,UNKNOWN,LT BRN-BLK,NaN,NaN,40207,YES,BODY,2010-11-15,UNKNOWN,NaN,NaN,UNKNOWN,2 days
1035,2010-11-07,CAT,NaN,MALE,WHITE,1.0,2010-11-20 00:00:00,40218,NO,BODY,2010-11-09,RELEASED,NaN,NaN,UNKNOWN,2 days
1032,2010-11-07,DOG,NaN,FEMALE,WHITE,1.0,2010-11-08 00:00:00,40216,NO,HEAD,2010-11-09,RELEASED,NaN,NaN,UNKNOWN,2 days
8866,2017-08-05,DOG,NaN,MALE,BLK/TAN,1.0,2016-11-26 00:00:00,40207,NO,BODY,2017-08-07,NaN,NaN,2017-08-15 00:00:00,NaN,2 days

In [34]:
# # when lokking at the sorted data base on 'DifferenceOfBitedateAndQuarantinedate' column, Difference of Bite_date and Quarantine_date cannot be 1096 days, 730 days, 366 days, 92 days, 62 days.
# # let's edit at least 4 rows
# preprocessed_data['quarantine_date'] = correct_data_using_index(preprocessed_data,'quarantine_date',2,'1987-05-07')
# 
# preprocessed_data['quarantine_date'] = correct_data_using_index(preprocessed_data,'quarantine_date',3,'1988-10-02')
# 
# # when looking at Row of 102, we can decide quarantine_date should be 2010 year
# preprocessed_data['quarantine_date']= correct_data_using_index(preprocessed_data,'quarantine_date',103,'2010-01-28')
# 
# # when looking at Row of 2092, we can decide bite_date should be 07 month.
# preprocessed_data['bite_date'] = correct_data_using_index(preprocessed_data,'bite_date',2093,'2011-07-14')

In [18]:
# when we need to fill null rows in quarantine_date or bite_date, first we need to find the average date of the DifferenceOfBitedateAndQuarantinedate.

get_average(preprocessed_data,'DifferenceOfBitedateAndQuarantinedate')

Timedelta('-13 days +00:40:57.485029941')

#averageDifference cannot be a minus value. The reason can be there some rows that are quarantine_date lower than bite_date. this happened when we get average at first.

In [19]:
# sorting rows based on 'DifferenceOfBitedateAndQuarantinedate' column

sorting_data(preprocessed_data,'DifferenceOfBitedateAndQuarantinedate',True)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate
1512,2101-02-18,CAT,NaN,FEMALE,BLACK,NaN,NaN,40202,NaN,BODY,2011-02-18,RELEASED,NaN,NaN,NaN,-32872 days
771,2010-08-12,DOG,NaN,FEMALE,BLK-WHITE,NaN,NaN,40218,NO,BODY,2010-05-12,UNKNOWN,NaN,NaN,UNKNOWN,-92 days
785,2010-08-17,DOG,NaN,MALE,WHITE-BLK,NaN,NaN,40219,NO,BODY,2010-08-07,UNKNOWN,NaN,NaN,UNKNOWN,-10 days
526,2010-06-08,DOG,NaN,UNKNOWN,TAN,NaN,NaN,40291,NO,BODY,2010-06-01,UNKNOWN,NaN,NaN,UNKNOWN,-7 days
2113,2011-07-19,DOG,NaN,NaN,NaN,NaN,NaN,40223,NO,BODY,2011-07-16,NaN,NaN,NaN,NaN,-3 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,NaT,NaN,NaN,NaN,NaN,NaT
8999,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,NaT,NaN,NaN,NaN,NaN,NaT
9000,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,NaT,NaN,NaN,NaN,NaN,NaT
9001,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,NaT,NaN,NaN,NaN,NaN,NaT
9002,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,NaT,NaN,NaN,NaN,NaN,NaT

In [20]:
# we got the error data in row numbers - 1512,771,785,526,2113, we have to correct this
# In row number 1512, it cannot be the bite_date as year of 2101. it should be year of 2011

correct_data_using_index(preprocessed_data,'bite_date',1512,'2011-02-18')

# In row number 771 the month of bite_date can be 05 instead of 08
correct_data_using_index(preprocessed_data,'bite_date',771,'2010-05-12')

Timestamp('2010-05-12 00:00:00')

In [22]:
# let's again check the difference
get_difference_between_columns(preprocessed_data,'DifferenceOfBitedateAndQuarantinedate','quarantine_date','bite_date')
sorting_data(preprocessed_data,'DifferenceOfBitedateAndQuarantinedate',True)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate
785,2010-08-17,DOG,NaN,MALE,WHITE-BLK,NaN,NaN,40219,NO,BODY,2010-08-07,UNKNOWN,NaN,NaN,UNKNOWN,-10 days
526,2010-06-08,DOG,NaN,UNKNOWN,TAN,NaN,NaN,40291,NO,BODY,2010-06-01,UNKNOWN,NaN,NaN,UNKNOWN,-7 days
2113,2011-07-19,DOG,NaN,NaN,NaN,NaN,NaN,40223,NO,BODY,2011-07-16,NaN,NaN,NaN,NaN,-3 days
992,2010-10-26,DOG,NaN,MALE,BROWN,NaN,NaN,40216,NO,BODY,2010-10-26,UNKNOWN,NaN,NaN,UNKNOWN,0 days
997,2010-10-28,CAT,NaN,UNKNOWN,CALICO,NaN,NaN,40203,NO,BODY,2010-10-28,UNKNOWN,NaN,NaN,UNKNOWN,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,NaT,NaN,NaN,NaN,NaN,NaT
8999,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,NaT,NaN,NaN,NaN,NaN,NaT
9000,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,NaT,NaN,NaN,NaN,NaN,NaT
9001,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,NaT,NaN,NaN,NaN,NaN,NaT
9002,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,NaT,NaN,NaN,NaN,NaN,NaT

In [23]:
# In row numbers  785,526 and 2113  have wrong bite_date, the difference cannot be minus value. 3 data cannot be much effect. therefore we can drop those 3 values from the dataframe
indexesToDrop = [526,785,2113]
preprocessed_data = preprocessed_data.drop(indexesToDrop)

In [24]:
# after drop row values we need to reindex those
preprocessed_data = preprocessed_data.reset_index(drop=True)

In [25]:
#before check the average of difference we need to find the difference again. for that we can call the 'get_difference_between_columns' function again

get_difference_between_columns(preprocessed_data,'DifferenceOfBitedateAndQuarantinedate','quarantine_date','bite_date')
preprocessed_data

# Let's again check the average of difference

get_average(preprocessed_data,'DifferenceOfBitedateAndQuarantinedate')

Timedelta('3 days 11:49:33.913043478')

In [26]:
# to get any of column('bite_date','quarantine_date','difference') that have null values
selectedcolumn = ['bite_date','quarantine_date','DifferenceOfBitedateAndQuarantinedate']
check_null_values(preprocessed_data,selectedcolumn)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate
4,1989-08-29,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,NaT,UNKNOWN,NaN,NaN,UNKNOWN,NaT
5,1989-11-24,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40211,NO,BODY,NaT,UNKNOWN,NaN,NaN,UNKNOWN,NaT
71,2010-01-09,DOG,NaN,UNKNOWN,BLK-WHT,NaN,NaN,40219,NO,BODY,NaT,UNKNOWN,2010-01-10 00:00:00,NaN,UNKNOWN,NaT
78,2010-01-12,DOG,NaN,MALE,BRN-WHT,NaN,NaN,40214,NO,BODY,NaT,UNKNOWN,2010-01-14 00:00:00,NaN,UNKNOWN,NaT
121,2010-02-04,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40229,NO,BODY,NaT,UNKNOWN,2010-02-05 00:00:00,NaN,UNKNOWN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,NaT,NaN,NaN,NaN,NaN,NaT
8996,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,NaT,NaN,NaN,NaN,NaN,NaT
8997,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,NaT,NaN,NaN,NaN,NaN,NaT
8998,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,NaT,NaN,NaN,NaN,NaN,NaT
8999,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,NaT,NaN,NaN,NaN,NaN,NaT

In [27]:
# Edit quarantine_date when have only bite_date. to edit this we need to add average date difference from quarantine_date.

to_fillna_byAdding(preprocessed_data,'quarantine_date','bite_date',3)

0      1985-05-05
1      1986-02-12
2      1990-05-07
3      1990-10-02
4      1989-09-01
          ...
8995   2017-09-08
8996   2017-09-10
8997   2017-09-10
8998   2017-09-10
8999   2017-09-10
Name: quarantine_date, Length: 9000, dtype: datetime64[ns]

In [28]:
# edit bite_date when have only quarantine_date. to edit this we need to substract average date difference from quarantine_date.

to_fillna_bySubstracting(preprocessed_data,'bite_date','quarantine_date',3)

0      1985-05-05
1      1986-02-12
2      1987-05-07
3      1988-10-02
4      1989-08-29
          ...
8995   2017-09-05
8996   2017-09-07
8997   2017-09-07
8998   2017-09-07
8999   2017-09-07
Name: bite_date, Length: 9000, dtype: datetime64[ns]

In [29]:
preprocessed_data

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate
0,1985-05-05,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05,UNKNOWN,NaN,NaN,UNKNOWN,0 days
1,1986-02-12,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12,UNKNOWN,NaN,NaN,UNKNOWN,0 days
2,1987-05-07,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07,UNKNOWN,NaN,NaN,UNKNOWN,1096 days
3,1988-10-02,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02,UNKNOWN,NaN,NaN,UNKNOWN,730 days
4,1989-08-29,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,1989-09-01,UNKNOWN,NaN,NaN,UNKNOWN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,2017-09-08,NaN,NaN,NaN,NaN,NaT
8996,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,2017-09-10,NaN,NaN,NaN,NaN,NaT
8997,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,2017-09-10,NaN,NaN,NaN,NaN,NaT
8998,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaN,NaN,NaN,NaT
8999,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaN,NaN,NaN,NaT

In [30]:
# now we can check the rest of rows that have null data in both column
columnsInCount = ['bite_date','head_sent_date']
check_null_values(preprocessed_data,columnsInCount)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate
1686,NaT,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT
1687,NaT,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT
1689,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT
1847,NaT,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT
1855,NaT,BAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8899,NaT,DOG,BORDER COLLIE,MALE,BLK WHT,1.0,2017-07-18 00:00:00,NaN,NaN,NaN,NaT,NaN,NaN,2017-08-18 00:00:00,NaN,NaT
8921,NaT,DOG,NaN,NaN,NaN,NaN,NaN,40206,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT
8924,NaT,BAT,NaN,NaN,NaN,NaN,NaN,40291,YES,NaN,NaT,NaN,NaN,NaN,NaN,NaT
8925,NaT,BAT,NaN,NaN,NaN,NaN,NaN,40291,YES,NaN,NaT,NaN,NaN,NaN,NaN,NaT
8928,NaT,DOG,NaN,NaN,NaN,NaN,NaN,40242,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT

## Second, to edit 'bite_date' column, let's use 'head_sent_date' column

In [31]:
# before filling rest of null date in bite_date and quarantine_date column, let's check the difference and average date between head_sent_date and bite_date
get_difference_between_columns(preprocessed_data,'differnceOfBiteAndHeadSent','head_sent_date','bite_date')

TypeError: cannot subtract DatetimeArray from ndarray

In [32]:
# before substract we need to convert head_sent_date column into datetime
convert_to_dateTime(preprocessed_data,'head_sent_date')

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
8995   NaT
8996   NaT
8997   NaT
8998   NaT
8999   NaT
Name: head_sent_date, Length: 9000, dtype: datetime64[ns]

In [33]:
get_difference_between_columns(preprocessed_data,'differnceOfBiteAndHeadSent','head_sent_date','bite_date')

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
8995   NaT
8996   NaT
8997   NaT
8998   NaT
8999   NaT
Name: differnceOfBiteAndHeadSent, Length: 9000, dtype: timedelta64[ns]

In [39]:
preprocessed_data

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate,differnceOfBiteAndHeadSent
0,1985-05-05,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05,UNKNOWN,NaT,NaN,UNKNOWN,0 days,NaT
1,1986-02-12,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12,UNKNOWN,NaT,NaN,UNKNOWN,0 days,NaT
2,1987-05-07,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07,UNKNOWN,NaT,NaN,UNKNOWN,1096 days,NaT
3,1988-10-02,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02,UNKNOWN,NaT,NaN,UNKNOWN,730 days,NaT
4,1989-08-29,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,1989-09-01,UNKNOWN,NaT,NaN,UNKNOWN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,2017-09-08,NaN,NaT,NaN,NaN,NaT,NaT
8996,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8997,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8998,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8999,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT

In [35]:
# get average of DiffernceOfBiteAndHeadSent
get_average(preprocessed_data,'differnceOfBiteAndHeadSent')

Timedelta('7 days 22:22:15.746606334')

In [36]:
# now let's check that have null value in head_sent_date column.
columnsInCount = ['bite_date','head_sent_date']
check_null_values(preprocessed_data,columnsInCount)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate,differnceOfBiteAndHeadSent
1686,NaT,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
1687,NaT,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
1689,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
1847,NaT,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
1855,NaT,BAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8899,NaT,DOG,BORDER COLLIE,MALE,BLK WHT,1.0,2017-07-18 00:00:00,NaN,NaN,NaN,NaT,NaN,NaT,2017-08-18 00:00:00,NaN,NaT,NaT
8921,NaT,DOG,NaN,NaN,NaN,NaN,NaN,40206,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
8924,NaT,BAT,NaN,NaN,NaN,NaN,NaN,40291,YES,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
8925,NaT,BAT,NaN,NaN,NaN,NaN,NaN,40291,YES,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
8928,NaT,DOG,NaN,NaN,NaN,NaN,NaN,40242,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT

In [37]:
sorting_data(preprocessed_data,'differnceOfBiteAndHeadSent',False)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate,differnceOfBiteAndHeadSent
1405,2014-03-24,DOG,PIT BULL,NaN,WHITE,NaN,NaN,40205,NaN,BODY,2014-03-27,NaN,2017-03-24,NaN,NEGATIVE,NaT,1096 days
1432,2015-06-23,DOG,PIT BULL,FEMALE,BRINDLE,NaN,NaN,40215,NaN,BODY,2015-06-26,NaN,2016-06-26,NaN,NEGATIVE,NaT,369 days
1434,2015-07-14,DOG,PIT BULL,FEMALE,BLUE WHIT,NaN,NaN,40219,NaN,BODY,2015-07-17,NaN,2015-07-24,NaN,NaN,NaT,10 days
1488,2016-12-06,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BODY,2016-12-09,NaN,2016-12-16,NaN,NEGATIVE,NaT,10 days
1501,2017-05-14,DOG,MASTIF,MALE,NaN,3.0,2017-02-04 00:00:00,40241,NaN,BODY,2017-05-17,NaN,2017-05-24,NaN,NEGATIVE,NaT,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,2017-09-08,NaN,NaT,NaN,NaN,NaT,NaT
8996,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8997,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8998,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8999,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT

In [38]:
# when looking at sort values in differenceOfBiteAndHeadSent column, values cannot be 1096, 369, 93,92, days. those values should be change
# when looking at the real dataset, row of 1404 row is filled in 2014. There for 1405 row also should be in 2014. therefore we need correct head_sent_date in R1404 into 2014. 

correct_data_using_index(preprocessed_data,'head_sent_date',1405,'2014-03-24')

Timestamp('2014-03-24 00:00:00')

In [40]:
# when looking at the real dataset, row of 1431 and 1433 row is filled in 2015. There for 1432 row also should be in 2015. therefore we need to correct head_sent_date in R1432 into 2015. 

correct_data_using_index(preprocessed_data,'head_sent_date',1432,'2015-06-26')

Timestamp('2015-06-26 00:00:00')

In [41]:
# we need to change these location also 764,765
correct_data_using_index(preprocessed_data,'head_sent_date',764,'2010-08-12')
correct_data_using_index(preprocessed_data,'head_sent_date',765,'2010-08-12')

Timestamp('2010-08-12 00:00:00')

In [43]:
# before sort lets get difference again
get_difference_between_columns(preprocessed_data,'differnceOfBiteAndHeadSent','head_sent_date','bite_date')

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
8995   NaT
8996   NaT
8997   NaT
8998   NaT
8999   NaT
Name: differnceOfBiteAndHeadSent, Length: 9000, dtype: timedelta64[ns]

In [44]:
sorting_data(preprocessed_data,'differnceOfBiteAndHeadSent',False)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate,differnceOfBiteAndHeadSent
1434,2015-07-14,DOG,PIT BULL,FEMALE,BLUE WHIT,NaN,NaN,40219,NaN,BODY,2015-07-17,NaN,2015-07-24,NaN,NaN,NaT,10 days
1488,2016-12-06,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BODY,2016-12-09,NaN,2016-12-16,NaN,NEGATIVE,NaT,10 days
1501,2017-05-14,DOG,MASTIF,MALE,NaN,3.0,2017-02-04 00:00:00,40241,NaN,BODY,2017-05-17,NaN,2017-05-24,NaN,NEGATIVE,NaT,10 days
1371,2011-10-05,CAT,NaN,MALE,ORANGE,NaN,NaN,40223,NO,BODY,2011-10-05,DIED,2011-10-14,NaN,NEGATIVE,0 days,9 days
1496,2017-03-14,DOG,CHOW CHOW,MALE,BRN,NaN,NaN,40214,NaN,HEAD,2017-03-17,NaN,2017-03-23,NaN,NEGATIVE,NaT,9 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,2017-09-08,NaN,NaT,NaN,NaN,NaT,NaT
8996,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8997,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8998,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8999,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT

In [45]:
#let's again check the mean value
get_average(preprocessed_data,'differnceOfBiteAndHeadSent')

Timedelta('1 days 07:29:35.565610859')

In [46]:
# there are some values in the row of head_sent_date column. by using those values we can fill bite_date column that are having null values in the rows

preprocessed_data['bite_date'] = to_fillna_bySubstracting(preprocessed_data,'bite_date','head_sent_date',1)

In [48]:
selectedThreeColumn = ['bite_date','head_sent_date']
check_null_values(preprocessed_data, selectedThreeColumn)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate,differnceOfBiteAndHeadSent
1686,NaT,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
1687,NaT,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
1689,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
1847,NaT,CAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
1855,NaT,BAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8899,NaT,DOG,BORDER COLLIE,MALE,BLK WHT,1.0,2017-07-18 00:00:00,NaN,NaN,NaN,NaT,NaN,NaT,2017-08-18 00:00:00,NaN,NaT,NaT
8921,NaT,DOG,NaN,NaN,NaN,NaN,NaN,40206,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
8924,NaT,BAT,NaN,NaN,NaN,NaN,NaN,40291,YES,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
8925,NaT,BAT,NaN,NaN,NaN,NaN,NaN,40291,YES,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT
8928,NaT,DOG,NaN,NaN,NaN,NaN,NaN,40242,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaT,NaT

## Let's add rest of the row using forward fill method

In [53]:
# when see the dataset, lot of data already filled. the rest of the data we can fill by using previous dates.
# preprocessed_data['bite_date'] = preprocessed_data['bite_date'].fillna(method='ffill')

preprocessed_data['bite_date'] = preprocessed_data['bite_date'].ffill()

In [56]:
selectedThreeColumn = ['bite_date','head_sent_date']
check_null_values(preprocessed_data, selectedThreeColumn)

Empty DataFrame
Columns: [bite_date, SpeciesIDDesc, BreedIDDesc, GenderIDDesc, color, vaccination_yrs, vaccination_date, victim_zip, AdvIssuedYNDesc, WhereBittenIDDesc, quarantine_date, DispositionIDDesc, head_sent_date, release_date, ResultsIDDesc, DifferenceOfBitedateAndQuarantinedate, differnceOfBiteAndHeadSent]
Index: []

In [57]:
preprocessed_data

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate,differnceOfBiteAndHeadSent
0,1985-05-05,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05,UNKNOWN,NaT,NaN,UNKNOWN,0 days,NaT
1,1986-02-12,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12,UNKNOWN,NaT,NaN,UNKNOWN,0 days,NaT
2,1987-05-07,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07,UNKNOWN,NaT,NaN,UNKNOWN,1096 days,NaT
3,1988-10-02,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02,UNKNOWN,NaT,NaN,UNKNOWN,730 days,NaT
4,1989-08-29,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,1989-09-01,UNKNOWN,NaT,NaN,UNKNOWN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,2017-09-08,NaN,NaT,NaN,NaN,NaT,NaT
8996,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8997,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8998,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8999,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT

In [58]:
# now we can again edit the 'quatantine_date' column by using bite_date and average of difference those two columns
preprocessed_data['quarantine_date'] = to_fillna_byAdding(preprocessed_data,'quarantine_date','bite_date',3)

In [59]:
preprocessed_data

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,DifferenceOfBitedateAndQuarantinedate,differnceOfBiteAndHeadSent
0,1985-05-05,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05,UNKNOWN,NaT,NaN,UNKNOWN,0 days,NaT
1,1986-02-12,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12,UNKNOWN,NaT,NaN,UNKNOWN,0 days,NaT
2,1987-05-07,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07,UNKNOWN,NaT,NaN,UNKNOWN,1096 days,NaT
3,1988-10-02,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02,UNKNOWN,NaT,NaN,UNKNOWN,730 days,NaT
4,1989-08-29,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,1989-09-01,UNKNOWN,NaT,NaN,UNKNOWN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,2017-09-08,NaN,NaT,NaN,NaN,NaT,NaT
8996,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8997,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8998,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT
8999,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,2017-09-10,NaN,NaT,NaN,NaN,NaT,NaT

In [60]:
check_null_values(preprocessed_data,selectedcolumn)

Empty DataFrame
Columns: [bite_date, SpeciesIDDesc, BreedIDDesc, GenderIDDesc, color, vaccination_yrs, vaccination_date, victim_zip, AdvIssuedYNDesc, WhereBittenIDDesc, quarantine_date, DispositionIDDesc, head_sent_date, release_date, ResultsIDDesc, DifferenceOfBitedateAndQuarantinedate, differnceOfBiteAndHeadSent]
Index: []

In [61]:
preprocessed_data['bite_date'].isnull().sum()

0

In [62]:
preprocessed_data['quarantine_date'].isnull().sum()

0

In [63]:
preprocessed_data['head_sent_date'].isnull().sum()

8605

In [64]:
# let's add 'head_sent_date' column as well
to_fillna_byAdding(preprocessed_data,'head_sent_date','bite_date',1)

0      1985-05-06
1      1986-02-13
2      1987-05-08
3      1988-10-03
4      1989-08-30
          ...
8995   2017-09-06
8996   2017-09-08
8997   2017-09-08
8998   2017-09-08
8999   2017-09-08
Name: head_sent_date, Length: 9000, dtype: datetime64[ns]

In [65]:
preprocessed_data['head_sent_date'].isnull().sum()

0

In [66]:
preprocessed_data['SpeciesIDDesc'].isnull().sum()

118

In [67]:
# get the most bitten animal in the dataset

mode(preprocessed_data['SpeciesIDDesc'])

'DOG'

In [78]:
#lets fill missing values in 'SpeciesIDDesc' column using mode value.
fill_category(preprocessed_data,'SpeciesIDDesc','DOG')

0       DOG
1       DOG
2       DOG
3       DOG
4       DOG
       ...
8995    DOG
8996    DOG
8997    DOG
8998    DOG
8999    DOG
Name: SpeciesIDDesc, Length: 9000, dtype: object

In [69]:
preprocessed_data['SpeciesIDDesc'].isnull().sum()

0

In [73]:
# let's check gender column
preprocessed_data['GenderIDDesc'].isnull().sum()

0

In [71]:
# categorical_values = preprocessed_data['SpeciesIDDesc']
mode(preprocessed_data['GenderIDDesc'])

'MALE'

In [72]:
# let's fill null values using mode of gender
fill_category(preprocessed_data,'GenderIDDesc','MALE')

0        FEMALE
1       UNKNOWN
2       UNKNOWN
3          MALE
4        FEMALE
         ...
8995       MALE
8996       MALE
8997       MALE
8998     FEMALE
8999       MALE
Name: GenderIDDesc, Length: 9000, dtype: object

In [83]:
preprocessed_data['GenderIDDesc'] = preprocessed_data['GenderIDDesc'].replace('UNKNOWN','MALE')

In [84]:
preprocessed_data['GenderIDDesc']

0       FEMALE
1         MALE
2         MALE
3         MALE
4       FEMALE
         ...
8995      MALE
8996      MALE
8997      MALE
8998    FEMALE
8999      MALE
Name: GenderIDDesc, Length: 9000, dtype: object

In [85]:
preprocessed_data['GenderIDDesc'].value_counts()

GenderIDDesc
MALE      6984
FEMALE    2016
Name: count, dtype: int64

In [86]:
#let's get unique count in color column
preprocessed_data['color'].value_counts()

color
BLACK         671
BROWN         433
WHITE         394
BLK WHT       277
TAN           222
             ...
WH/BLACK        1
BL/WH/BROW      1
ORG/WHITE       1
TAN/SILVER      1
BRONW           1
Name: count, Length: 712, dtype: int64

In [87]:
# check mode value by dropping nulls
mode(preprocessed_data['color'].dropna())

'BLACK'

In [88]:
preprocessed_data['color'].isnull().sum()

2576

In [89]:
preprocessed_data['color'] = fill_category(preprocessed_data,'color','BLACK')

In [90]:
mode(preprocessed_data['color'])

'BLACK'

In [22]:
preprocessed_data['color']

0       LIG. BROWN
1        BRO & BLA
2            BLACK
3        BLA & BRO
4          BLK-WHT
           ...
8998         BLACK
8999           RED
9000         BROWN
9001       BLK WHT
9002       BRN BLK
Name: color, Length: 9003, dtype: object

In [91]:
preprocessed_data['color'].isnull().sum()

0